.property-listing-view{
    width: 80vw;
    margin: auto auto;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 100px;
    row-gap: 20px;
    margin-bottom: 15px;
}

.sorting-filter-container{
    display: flex;
    align-items: center;
    align-self: flex-start;
    grid-column: 2 / span 1;
}

.checkbox-filter-container{
    grid-row: 2 / span 1;
}

.title{
    margin-right: 10px;
}